@media (max-width: 413px) {
    
   .page-item{
    width: 40px;
  }

  .page-link {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
  }
}



@media (max-width: 300px) {
    
   .page-item{
    width: 30px;
  }

  .page-link {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    
  }
}



@media (max-width: 240px) {
    
   .page-item{
    width: 25px;
  }

  .page-link {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    
  }
}



